<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav-icon"></div>
        <div class="logo-div"></div>
    </header>
   <div class="maine-container">
        <div class="text-box">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, ullam?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
            <h1>Lorem ipsum dolor sit.</h1>
            <button>Start</button>
        </div>
        <div class="img-box">
            <div class="img-div1"></div>
            <div class="img-div2"></div>
        </div>
   </div>
   <!-- -------------- -->
   <div class="maine-container block">
    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit hoftdyu giyyh huf f7gggutd.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="img-box">
        <div class="img-div3"></div>
        <div class="img-div3"></div>
        <div class="img-div3"></div>
        <div class="img-div3"></div>
    </div>
    <button>subscribe</button>
   </div>
   <!-- ------------ -->
   <div class="maine-container">
    <div class="text-box">
        <h1>Adipisicing elit. Eum.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste impedit illo a in possimus nisi culpa unde. Eaque, nesciunt provident?</p>
        <div class="flex-text">
            <p><span>Lorem ipsum</span> dolor sit amet consectetur adipisicing elit. Voluptatum, dicta.</p>
            <p><span>Lorem ipsum</span> dolor sit amet consectetur adipisicing elit. Voluptatum, dicta.</p>
        </div>
    </div>
    <div class="img-div4">

    </div>
   </div>
   <!-- ------------ -->
   <div class="maine-container">
        <div class="grid-box">
            <div class="img-div5"></div>
            <div class="text-box">
                
            </div>
        </div>
    
   </div>
    
</body>
</html>